// Base

body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

html {
	margin-top: 0;
}

.standard-margin {
	margin: 4em 2em;
}

.fade-in{
	transition: all .5s ease-in;
	opacity: 0;
}


.appear {
	opacity: 1;
}