.text-area {
	&-heading {
		h2 {
			font-size: 1.7em;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
		}
	}

	&-body {
		text-align: center;
	}
}

@media only screen and (min-width : 60em) {
	.text-area {
		max-width: 75%;
		margin: 4em auto;

		&-heading {
			h2 {
				font-size: 2em;
			}
		}
	}
}